{% extends "base.html" %}
{% block titulo %} Inicio de Sesión {% endblock %}
{% block contenido %}
<div class="row">
    <br>
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Inicio de Sesión</h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post" id='form_login'>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
						{% for error in form.non_field_errors %}
							<div class="form-group has-error">
								<b class="text-danger">{{ error }}</b>
							</div>
							<div class="form-group has-error">
                            <label class="control-label">{{form.username.label}}</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group has-error">
                            <label class="control-label">{{form.password.label}}</label>
                            {{ form.password }}
                        </div>
						{% endfor %}
                    {% else %}
                        <div class="form-group">
                            <label class="control-label">{{form.username.label}}</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{form.password.label}}</label>
                            {{ form.password }}
                        </div>

                    {% endif %}
                    <button class="btn btn-success btn-block" type="submit" name="login"/>Iniciar Sesión</button>                             
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
