.main-navbar {
    margin-bottom: 0px;
    background-color: #130f40;
    border-color: #fff;
}

.main-navbar a:hover{
    transition: background-color .5s ease;
    background-color: #30336b !important;
}

.menu a {
    border-radius: 0px;
}

.menu a:hover {
    transition: border-color 1s ease;
    border-color: #30336b;
}

.alert {
    margin-top: 10px;
    margin-bottom: 1px !important;
    height: 30px;
    padding-top: 5px;
}

.accion {
    margin-left: 15px;
}