<form id="modal-form" method="post" action="">
  {% csrf_token %}

 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  <h3 class="modal-title">{{title}}</h3>
  </div>

  <div class="modal-body">
    {% for field in form %}    
        {% if forloop.first %}
        <div class="row align-items-center">
        {% endif %}
        <div class="col-sm-6">
            <div class="form-group{% if field.errors %} invalid has-error {% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                  <p class="help-block">{{ error }}</p>
                {% endfor %}
          </div>
        </div>
        {% if forloop.last %}
            </div>
        {% else %}
            {% if forloop.counter|divisibleby:'2' %}
                </div>
                <div class="row align-items-center">
            {% endif %}
        {% endif %}    
    {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="button" id="btn-g" class="submit-btn btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  </div>

</form>

<script>
$( "#modal-form" ).submit(function( event ) {
  document.getElementById("btn-g").click();
});
</script>