{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/estilos-base.css' %}">
    {% block css%}{% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="main-navbar navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">                    
                    <a href="/" class="navbar-brand" title="Ir a pagina principal">Usuarios</a>
                </div>
                {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbar-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{ user.get_full_name}}</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="collapse navbar-collapse" id="navbar-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>

    {% include 'messages.html'%}
    {% block contenido %}
    {% endblock %}

</body>
</html>