<form method="post" action=""> {% csrf_token %}

 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  <h3 class="modal-title">Eliminar {{modelo_nombre}}</h3>
  </div>

  <div class="modal-body">
    <p>¿Esta seguro de que quiere eliminar {{modelo_nombre}}?</p>
  </div>

  <div class="modal-footer">
  <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
  </div>

</form>