{% if messages %}
	<div class="container">
		{% for message in messages %}
			{% if message.tags == 'success' %}
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" title="Cerrar mensaje">&times;</span></button>
					{{message}} <i class="glyphicon glyphicon-ok-circle"></i>
				</div>
			{% elif message.tags == 'error'%}
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" title="Cerrar mensaje">&times;</span></button>
					{{message}} <i class="glyphicon glyphicon-ok-circle"></i>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}