{% extends 'base.html' %}
{% block titulo %} Usuarios {% endblock %}

{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h3>Usuarios del sistema</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 pull-right">
			<button class="agregar-modal btn btn-primary btn-sm" type="button" name="button">Agregar</button>
		</div>
	</div>
	<table class='table'>
		<thead>
			<th>Usuario</th>
			<th>Apellido</th>
			<th>Nombre</th>
			<th>Email</th>
			<th></th>
		</thead>
		<tbody>
			{% for user in object_list%}
				{% if not user.is_superuser and user.is_active %}
					<tr>
						<td>{{user.username}}</td>
						<td>{{user.last_name}}</td>
						<td>{{user.first_name}}</td>
						<td>{{user.email}}</td>
						<td>
							<a class="modificar-modal accion" title="Modificar Usuario" data-id="{% url 'usuarios:modificar' user.id %}">
                            <i class="glyphicon glyphicon glyphicon-edit"></i></a>
                            
                            <a class="eliminar-modal accion text-danger" title="Desactivar Usuario" data-id="{% url 'usuarios:desactivar' user.id %}">
                            <i class="glyphicon glyphicon-remove"></i></a>
                        </td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>

{% include "modal.html" %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {

    $(".agregar-modal").modalForm({
        formURL: "{% url 'usuarios:crear' %}"
    });

	$(".modificar-modal").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });

	$(".eliminar-modal").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });

});
</script>
{% endblock %}